{% extends 'adminlte/base.html' %}

{% block title %}Project Create{% endblock %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <!-- /.login-logo -->
                <div class="box-header with-border">
                    <h3 class="box-title">Project Create</h3>
                </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="box-body">
                            <h2>New Project</h2>
                                    <div class="form-group has-feedback">
                                        <input required name="name" class="form-control" placeholder="Project Name">
                                        <span class="fa fa-file form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <textarea name="description" rows="5" class="form-control" placeholder="Project Description" style="resize: none"></textarea>
                                        <span class="glyphicon glyphicon-align-left form-control-feedback"></span>
                                    </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-xs-8">
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Create</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Project Info</h3>
                </div>
                <div class="box-body">
                    <h3>What is project?</h3>
                    <p style="font-size: large">
                        A project is an abstraction that will contain categories that in turn contain your tasks.</p>
                    <hr>
                    <h3>For what?</h3>
                    <p style="font-size: large">
                        Tasks from different areas of life can be confusing and difficult to control and organize all
                        the information. The categories in which tasks could be stored also do not completely solve
                        the problem, because the categories "Music" and "Scientific work" on one screen can interfere
                        with each other. To do this, there is an abstraction "Project", which in turn contains
                        categories and allows thematically or in the sense of separate categories from each other.
                    </p>
                    <hr>
                    <h3>Example of use</h3>
                    <p style="font-size: large">
                        - Project "Business", which contains all the tasks related to the opening and operation
                        of the business.<br>
                        - Project "University", where you can store all your homework, compound tasks for scientific
                        papers and other tasks.<br>
                        - The project "Learning English", which will contain all the tasks related to the study of
                        a foreign language.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}