{% extends 'adminlte/base.html' %}

{% block title %}List of Projects{% endblock %}
{% load i18n static %}

{% block content %}
    <section class="content-header">
        <h1>List of projects</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                {% for project in project_list %}
                    <div class="col-md-6">
                        <div class="project" id="project.id">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><a href="{% url 'tracker:project_info' project_id=project.id %}">{{ project.name }}</a></h3>
                                </div>
                                <div class="box-body">
                                    <p class="info">{{ project.description }}</p>
                                </div>
                                <div class="box-footer">
                                     <div class="row">
                                            <div class="col-md-4 pull-right">
                                                <a href="{% url 'tracker:project_info' project_id=project.id %}">
                                                    <button class="btn btn-primary btn-block btn-flat">More Info</button>
                                                </a>
                                            </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}