{% extends "adminlte/base.html" %}
{% load i18n static %}
{% block title %}Sign In{% endblock %}
{% block body_class1 %}login-page{% endblock %}

{% block body %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Takinata</b> lib{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block login_errors %}
                {% if form.errors and not form.non_field_errors %}
                    <p class="alert alert-danger">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                        <p>{{ error_message }}</p>
                    </p>
                {% endif %}
                {% if error_message %}
                    <p class="alert alert-danger"> Error! {{ error_message }}</p>
                {% endif %}
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        <p>{{ error_message }}</p>
                    </ul>
                {% endif %}
            {% endblock login_errors %}

            {% block login_form %}
                <form action="" method="post">
                    {% csrf_token %}
                    {% if message %}
                        <p class="login-box-msg" style="color: red;">{{ message }}</p>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group has-feedback">
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text | safe }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-xs-8">
                            {% block login_form_links %}
                            {% endblock %}
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                        </div>
                    </div>
                </form>
                <a href="{% url 'accounts:registration' %}">sign up</a>
            {% endblock login_form %}

        </div>
    </div>
{% endblock %}