{% extends 'adminlte/base.html' %}

{% block title %}List of Categories{% endblock %}
{% load i18n static %}

{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="page-header">List of categories</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                <a href="{% url 'tracker:column_new' %}"><button class="btn btn-primary btn-block">Create category</button></a>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <section class="content">
            <div class="row">
                {% if not category_list %}
                    <h1 class="text-center">There is no categories</h1>
                {% endif %}
                {% for category in category_list %}
                    <div class="col-md-6">
                        <div class="project" id="project.id">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><a href="{% url 'tracker:column_info' category_id=category.id %}">{{ category.name }}</a></h3>
                                </div>
                                <div class="box-body">
                                    <p class="info">{{ category.desc }}</p>
                                </div>
                                <div class="box-footer">
                                     <div class="row">
                                            <div class="col-md-4 pull-right">
                                                <a href="{% url 'tracker:column_info' category_id=category.id %}">
                                                    <button class="btn btn-primary btn-block">More Info</button>
                                                </a>
                                            </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}