{% extends 'adminlte/base.html' %}

{% block title %}List of Projects{% endblock %}
{% load i18n static %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                {% for report in report_list %}
                    <div class="report" id="report.id">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{ report.name }}</h3>
                            </div>
                            <div class="box-body">
                                <p class="info"><b>{{ report.username }}</b></p>
                                <p class="info">{{ report.description }}</p>
                            </div>
                            <div class="box-footer">
                                 <div class="row">
                                        <div class="col-xs-10">
                                        </div>
                                        <div class="col-xs-2">
{#                                            <a href="{% url 'tracker:project_info' project_id=project.id %}">#}
{#                                                <button class="btn btn-primary btn-block btn-flat">More Info</button>#}
{#                                            </a>#}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}