{% extends 'adminlte/base.html' %}

{% block title %}Project Create{% endblock %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <div class="row">
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow">404</h2>
                <div class="error-content">
                    <h3>
                        <i class="fa fa-warning text-yellow"></i>
                        "Oops! Page not found."
                    </h3>
                    <p>
                        We could not find the page you were looking for. Meanwhile, you may return to
                        <a href="/tracker">dashboard or try using the search form.</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}