{% extends 'adminlte/base.html' %}

{% block title %}List of Categories{% endblock %}
{% load i18n static %}

{% block content %}
    <section class="content-header">
        <h1>List of columns</h1>
    </section>
    <div class="container">
        <section class="content">
            <div class="row">
                {% for column in column_list %}
                    <div class="project" id="project.id">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"><a href="{% url 'tracker:column_info' column_id=column.id project_id=column.project_id %}">{{ column.name }}</a></h3>
                            </div>
                            <div class="box-body">
                                <p class="info">{{ column.desc }}</p>
                            </div>
                            <div class="box-footer">
                                 <div class="row">
                                        <div class="col-xs-10">
                                        </div>
                                        <div class="col-xs-2">
                                            <a href="{% url 'tracker:column_info' column_id=column.id project_id=column.project_id %}">
                                                <button class="btn btn-primary btn-block btn-flat">More Info</button>
                                            </a>
                                        </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}