{% extends 'adminlte/base.html' %}
{% block title %}Takinata web{% endblock %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <section class="content-header">
        <h1 class="text-center">Results of beta test</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ users }}</h3>
                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ projects }}</h3>
                            <p>Projects Created</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-hdd-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ categories }}</h3>
                            <p>Categories Created</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-folder-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>{{ tasks }}</h3>
                            <p>Tasks Created</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-save"></i>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="text-center">Notifications</h1>
            <div class="col-md-4">
                {% if red_list %}
                    <div class="alert alert-danger alert-dismissable">
                        <h4>
                            <i class="icon fa fa-ban"></i> Alert!
                        </h4>
                    </div>
                    <div class="box box-danger">
                        <div class="box-body">
                            {% for task in red_list %}
                                <p class="lead">
                                <td><a href="{% url 'tracker:task_info' task.id %}">{{ task.name }}</a> -
                                    Remaining {{ task.to_deadline }} days
                                </td>
                                </p>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if yellow_list %}
                    <div class="alert alert-warning alert-dismissable">
                        <h4>
                            <i class="icon fa fa-warning"></i> Warning!
                        </h4>
                    </div>
                    <div class="box box-warning">
                        <div class="box-body">
                            {% for task in yellow_list %}
                                <p class="lead">
                                <td><a href="{% url 'tracker:task_info' task.id %}">{{ task.name }}</a> -
                                    Remaining {{ task.to_deadline }} days
                                </td>
                                </p>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if green_list %}
                    <div class="alert alert-success alert-dismissable">
                        <h4>
                            <i class="icon fa fa-check"></i> Keep calm
                        </h4>
                    </div>
                    <div class="box box-success">
                        <div class="box-body">
                            {% for task in green_list %}
                                <p class="lead">
                                <td><a href="{% url 'tracker:task_info' task.id %}">{{ task.name }}</a> -
                                    Remaining {{ task.to_deadline }} days
                                </td>
                                </p>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
{% endblock %}