{% extends 'adminlte/base.html' %}

{% block title %}{{ project.name }}{% endblock %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Main Information</h3>
                    </div>
                    <div class="box-body">
                        <p><b>Title: </b>{{ project.name }}</p>
                        <p><b>Description: </b>{{ project.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Manage Project</h3>
                    </div>
                    <div class="box-body">
                        <a href="{% url 'tracker:project_edit' project.id %}" class="btn btn-block btn-warning">Edit</a>
                        <a href="{% url 'tracker:project_delete' project.id %}" class="btn btn-block btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Columns</h3>
                    </div>
                    <div class="box-body">
                        <p>'list'</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tasks</h3>
                    </div>
                    <div class="box-body">
                        <p>'list'</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Executors</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    {% for user in guys %}
                                        <td>{{ user.username }}</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Executors dashboard</h3>
                    </div>
                    <div class="box-body">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-8">
                                    <label>Remove from project: </label>
                                    <label>
                                        <select class="form-control js-example-basic-single" name="remove_select">
                                        {% for user in guys %}
                                            <option>{{ user.username }}</option>
                                        {% endfor %}
                                        </select>
                                    </label>
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="submit" name='remove_from_project' class="btn btn-primary btn-block btn-flat">OK</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-8">
                                    <label>Add to project: </label>
                                    <label>
                                        <select class="form-control js-example-basic-single" name="add_select">
                                        {% for user in all_guys %}
                                            <option>{{ user.username }}</option>
                                        {% endfor %}
                                        </select>
                                    </label>
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="submit" name="add_to_project" class="btn btn-primary btn-block btn-flat">OK</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}