{% extends 'adminlte/base.html' %}

{% block title %}Site presentation{% endblock %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row text-center" style="height: 55а0px">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <img src="/media/logo.png" class="img-responsive center-block"/>
                    <h1 style="margin: 30px auto 0;max-width: 800px">
                        Takinata web - is a free, flexible and intuitive way to organize anything with anyone.
                    </h1>
                    <p style="display: block; max-width: 800px; color: #4d4d4d; font-weight: 300; line-height: 1.5;
                        font-family: 'Helvetica Neue',serif; margin-top: 30px;"
                       class="lead center-block">Throw away long chains of emails, outdated tables, not so sticky
                        stickers
                        and clumsy programs for project management. Trello helps to see all the details of the
                        project
                        at a glance.</p>
                    <a href="{% url 'accounts:registration' %}">
                        <button type="submit" class="btn btn-success" name="cancel_task"
                                style="margin-top: 20px; font-size: 30px">Register - it's free.
                        </button>
                    </a>
                    <p class="lead center-block" style="margin-top: 30px">or</p>
                    <a href="{% url 'accounts:login' %}"
                       style="text-decoration: underline; color: #727272; display: block;font-weight: 300; line-height: 1.5;
                           font-family: 'Helvetica Neue',serif;"
                       class="lead center-block">log
                        in...
                    </a>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row text-center">
                <img src="/media/projects.png" class="img-responsive" style="margin-top: 30px;"/>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p style="display: block; max-width: 800px; color: #4d4d4d; font-weight: 300; line-height: 1.5;
                        font-family: 'Helvetica Neue',serif; margin-top: 30px;"
                       class="lead center-block">This is a project window. Here is a list of all the projects that
                        the user created or in which he participates</p>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row text-center">
                <img src="/media/project_info.png" class="img-responsive" style="margin-top: 30px;"/>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p style="display: block; max-width: 800px; color: #4d4d4d; font-weight: 300; line-height: 1.5;
                        font-family: 'Helvetica Neue',serif; margin-top: 30px;"
                       class="lead center-block">This is the project window. Here you can create, delete project
                        executors, information about the project, and also see what tasks are currently active</p>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row text-center">
                <img src="/media/task_info.png" class="img-responsive" style="margin-top: 30px;"/>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p style="display: block; max-width: 800px; color: #4d4d4d; font-weight: 300; line-height: 1.5;
                        font-family: 'Helvetica Neue',serif; margin-top: 30px;"
                       class="lead center-block">This is the task window. Here you can look at the timing of the
                        task, update or delete it, associate it with another task if desired, if it is not regular,
                        for example. The task is the main abstraction of the tracker</p>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-3"></div>
                <h1 style="margin: 30px auto 0;max-width: 800px">
                    Throw away stickers, tables, mail and clumsy programs for project management and become one of the
                    people who fell in love with Takinata. You can add as many projects and people as you want in your
                    account.
                </h1>
                <a href="{% url 'accounts:registration' %}">
                    <button type="submit" class="btn btn-success center-block" name="cancel_task"
                            style="margin-top: 20px; font-size: 30px">Register - it's free.
                    </button>
                </a>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
{% endblock %}