<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

{% extends 'adminlte/base.html' %}
{% block title %}Task Create{% endblock %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Task list</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <!-- /.login-logo -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Task Create</h3>
                        </div>
                        <div class="box-body">
                            <form method="post">
                                {% csrf_token %}
                                    {% if message %}
                                        <p class="login-box-msg" style="color: red;">{{ message }}</p>
                                    {% endif %}
                                {% for field in form %}
                                  <div class="form-group has-feedback">
                                    {{ field }}
                                     {% if field.help_text %}
                                          <small style="color: grey">{{ field.help_text | safe }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                      <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                  </div>
                                {% endfor %}
                                <label>
                                    <select class="form-control js-example-basic-single" name="select_project">
                                        {% for project in projects %}
                                            <option>{{ project.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                 <div class="box-footer">
                                    <div class="row">
                                        <div class="col-xs-8"></div>
                                        <div class="col-xs-4">
                                            <button type="submit" class="btn btn-primary btn-block btn-flat">Create</button>
                                        </div>
                                    </div>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Task info</h3>
                        </div>
                        <div class="box-body">
                            <h2>Kek</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}