<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

{% extends 'adminlte/base.html' %}
{% block title %}Task Create{% endblock %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Task list</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <!-- /.login-logo -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Task Create</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="box-body">
                                {% if message %}
                                    <p class="login-box-msg" style="color: red;">{{ message }}</p>
                                {% endif %}
                                {% if error %}
                                    <p class="alert alert-danger"> Error! {{ error }}</p>
                                {% endif %}
                                {% for field in form %}
                                    <div class="form-group has-feedback">
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small style="color: grey">{{ field.help_text | safe }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <row>
                                    <select id='select_type' class="form-control js-example-basic-single"
                                            name="select_type">
                                        <option selected="selected" value="1">One-time</option>
                                        <option value="2">Regular</option>
                                    </select>
                                    <div class="col-md-4" style="padding-left: 0px;">
                                        <p style="font-size: large">Priority: </p>
                                        <label>
                                            <select name="priority" class="form-control js-example-basic-single">
                                                <option>max</option>
                                                <option>medium</option>
                                                <option>min</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="font-size: large">Project:</p>
                                        <label>
                                            {% if projects %}
                                                <select id='select_project' class="form-control js-example-basic-single"
                                                        name="select_project">
                                                    {% for project in projects %}
                                                        <option value={{ project.id }}>{{ project.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                            {% if project %}
                                                <select id='select_project' class="form-control js-example-basic-single"
                                                        name="select_project">
                                                    {% for project in projects %}
                                                        <option value={{ project.id }}>{{ project.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="col-md-4" style="padding-right: 0px; padding-left: 20px">
                                        <p style="font-size: large">Category:</p>
                                        <label class="btn-block">
                                            <select id='select_column' class="form-control js-example-basic-single"
                                                    name="select_column">
                                                {% for category in categories %}
                                                    <option class="{{ category.project_id }}"
                                                            value={{ category.id }}>{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </row>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Create</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Task info</h3>
                        </div>
                        <div class="box-body">
                            <h3>What is task?</h3>
                            <p style="font-size: large">
                                A task is some action that you want to do in the future.</p>
                            <hr>
                            <h3>For what?</h3>
                            <p style="font-size: large">
                                The modern world lives very quickly and there are always a lot of tasks that need to be
                                quickly written down so as not to forget. It can be all sorts of tasks, ranging from
                                simple, like "buy products", ending with some "build a house." The ability to create
                                and store anywhere a task will help not forget to do important things.
                            </p>
                            <hr>
                            <h3>Example of use</h3>
                            <p style="font-size: large">
                                - The task "Buy products" can contain in the description a list of everything you
                                need to buy for dinner.<br>
                                - The task "Make a homework" can contain in the description a list of subjects and
                                tasks for them that you need to accomplish by a certain date.<br>
                                - The "Contact with organizers" task allows you to store in the description the names
                                and numbers of those people who need to call.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $('#select_column').prop('disabled', 'disabled');
        var $selected_column = $('#select_column'),
            $options = $selected_column.find('option');
        $(document).ready(function () {
        });
        $(document).ready(function () {
            $('#select_project').on("select2:select", function (e) {
                $selected_column.html($options.filter('[class="' + this.value + '"]'));
                {#$('#select_column').parent().show();#}
                $("#select_column").prop("selectedIndex", -1);
                $('#select_column').prop('disabled', false);
            });
        });
        $("#select_project").prop("selectedIndex", -1);
        $("#select_column").prop("selectedIndex", -1);
    </script>
{% endblock %}