{% extends 'adminlte/base.html' %}

{% block title %}Takinata web. {{ task.name }}{% endblock %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Main Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <p style="font-size: medium"><b>Title: </b>{{ task.name }}</p>
                            <p style="font-size: medium"><b>Description: </b>{{ task.desc }}</p>
                            {% if project %}
                            <p style="font-size: medium"><b>Project : </b>{{ project.name }}</p>
                            <p style="font-size: medium"><b>Column : </b>{{ column.name }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <p style="font-size: medium">
                                <b>Priority: </b>
                                <span class="label label-danger" style="font-size: 15px">{{ task.priority }}</span>
                            </p>
                            {% if task.start_date %}
                                <p style="font-size: medium">
                                <b>Start date: </b>
                                {{ task.start_date }}
                            {% endif %}
                            {% if task.start_time %}
                                <p style="font-size: medium">
                                <b>Start time: </b>
                                {{ task.start_time }}
                            {% endif %}
                            {% if task.end_date %}
                                <p style="font-size: medium">
                                <b>End date: </b>
                                {{ task.end_date }}
                            {% endif %}
                            {% if task.end_time %}
                                <p style="font-size: medium">
                                <b>End time: </b>
                                {{ task.end_time }}
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Manage Column</h3>
                    </div>
                    <div class="box-body">
                        <a href="#" class="btn btn-block btn-warning">Edit</a>
                        <a href="{% url 'tracker:task_delete' task.id %}" class="btn btn-block btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}