{% extends 'adminlte/base.html' %}

{% block title %}List of Tasks{% endblock %}
{% load i18n static %}

{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row col-md-2">
                <h1 class="page-header">List of tasks</h1>
                <a href="{% url 'tracker:task_create' %}"><button class="btn btn-primary btn-block btn-flat">Create task</button></a>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <section class="content">
            <div class="row">
                {% if not task_list %}
                    <h1 class="text-center">There is no tasks</h1>
                {% endif %}
                {% for task in task_list %}
                    <div class="col-md-6">
                        <div class="task" id="task.id">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><a href="{% url 'tracker:task_info' task_id=task.id %}">{{ task.name }}</a></h3>
                                </div>
                                {% if task.desc %}
                                    <div class="box-body">
                                        <p class="info">{{ task.desc }}</p>
                                    </div>
                                {% endif %}
                                <div class="box-footer">
                                     <div class="row">
                                         <div class="col-md-4 pull-right">
                                             <a href="{% url 'tracker:task_info' task_id=task.id %}">
                                                 <button class="btn btn-primary btn-block btn-flat">More Info</button>
                                             </a>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}